*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav.nav{
    background-color: #e3dddf;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px;
}
.navContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    padding: 0;
    list-style: none;
    display: flex;
}
.nav-items li{
    margin-right: 20px;
}
.nav-items li a{
    text-decoration: none;
    color: #000;
}
.about-us{
    background-color: #e3dddf;
}
.about-us .container{
    
    padding: 20px 10px;
}
.d-flex{
    display: flex;
}
.left{
    
    width: 70%;
}
.right{
    
    width: 30%;
}
.hero-img{
    width: 100%;
}
.left h3{
    color: #7A6666;
    display: block;
    font-family: lato-bold-webfont;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 47px 0 18px;
    text-align: left;
    text-transform: uppercase;
}
.left h1{
    color: #E32A62;
    display: block;
    font-family: magra-bold-webfont;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
    padding: 0 0 26px;
    text-align: left;
    text-transform: none;
    width: 560px;
}
.left p{
    color: #7a6666;
    display: block;
    font-family: roboto-regular-webfont;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.left h5{
    
        color: #7a6666;
        display: block;
        font-family: roboto-regular-webfont;
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    
}
.footer{
    
        float: none;
        margin: 0;
        padding: 0 0 8%;
        width: 100%;
   
}
.footer{
    background-color: #c8c10d;

}
.footer ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 60px;
    
}
.footer ul a{
   text-decoration: none;
   color: #ffffff;
    
}
.footer li{

    

    
    color: #ffffff;
    font-family: lato-regular-webfont;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;


        
    
}
